# turn bell off
xset b off
# don't want the monitor to blank (causes problems with egpu)
xset s noblank
# it's a big difficult to do this one
# anywhere else as it needs to be under the xsession
# to affect keybindings
$HOME/bin/map-capslock-to-escape &
# xscreensaver -no-splash &
ibus-daemon &

# add to the path to find some self-compiled binaries
# e.g. warpd.
export PATH=$PATH:$HOME/bin

[[ -f ~/.xprofile.desktop ]] && . ~/.xprofile.desktop
[[ -f ~/.xprofile.work ]] && . ~/.xprofile.work
[[ -f ~/bin/ytlaces-poll-loop ]] && ~/bin/ytlaces-poll-loop &
[[ -f ~/bin/detect-and-configure-tablet ]] && ~/bin/detect-and-configure-tablet &
[[ -f /usr/lib/policykit-1-gnome/polkit-gnome-authentication-agent-1 ]] && /usr/lib/policykit-1-gnome/polkit-gnome-authentication-agent-1 &

which blueman-applet && blueman-applet &
which warpd && warpd
which insync && insync start

# turn on xscreensaver
if which xscreensaver-command > /dev/null; then
    xscreensaver-command &
fi