# turn bell off
xset b off
# don't want the monitor to blank (causes problems with egpu)
xset s noblank
# it's a big difficult to do this one
# anywhere else as it needs to be under the xsession
# to affect keybindings
$HOME/bin/map-capslock-to-escape &
# xscreensaver -no-splash &
ibus-daemon &

[[ -f ~/.xprofile.desktop ]] && . ~/.xprofile.desktop
[[ -f ~/.xprofile.work ]] && . ~/.xprofile.work
/usr/local/bin/ytlaces-poll-loop &

which blueman-applet && blueman-applet &
which dropbox && dropbox &

if [ -f "$HOME/.dropbox-dist/dropboxd" ]; then
    $HOME/.dropbox-dist/dropboxd &
fi

# turn on xscreensaver
if which xscreensaver-command > /dev/null; then
    xscreensaver-command &
fi