[Unit]
Description=Llama Server
After=network.target

[Service]
# Environment="LLAMA_MODEL=unsloth/Qwen3.6-35B-A3B-GGUF:UD-Q4_K_M"
# Environment="LLAMA_MODEL=unsloth/Qwen3-Coder-Next-GGUF:UD-Q8_K_XL"
Environment="LLAMA_MODEL=CodeFault/Nvidia-Qwen3.6-27B-NVFP4-GGUF:NVFP4"
ExecStart=%h/bin/llama-server -hf ${LLAMA_MODEL} --host 0.0.0.0 \
    --temp 0.6 \
    --top-p 0.95 \
    --top-k 20 \
    --repeat-penalty 1.1 \
    --spec-type draft-mtp \
    --spec-draft-n-max 3

Restart=on-failure

[Install]
WantedBy=default.target
