# plex is used for home media streaming.
[Container]
ContainerName=plex
Environment=TZ=America/Los_Angeles
Image=docker.io/plexinc/pms-docker
Network=host
# NOTE: you will have to create these directories, or else
# the container will fail mounting them.
Volume=/home/bazzite/.config/plex:/config:z
Volume=/home/bazzite/Videos/transcode:/transcode:z
Volume=/home/bazzite/Videos:/data:z

# Remove if you don't want autostart
[Install]
WantedBy=default.target