[Unit]
Description=Rotate Screen

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/scripts/rotate_screen.py
Restart=always

[Install]
WantedBy=default.target
